.head {
	font-family: "YouYuan";
	font-size: 80px;
	margin-top: 150px;
	text-align: center;
}
.button {
    width: 315px;
    height: 48px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: #64a9d9;
    cursor: pointer;
    color: #fff;
}
.begin {
	width: 400px;
    height: 200px;
    margin: auto;
    margin-top: 75px;
    border-radius: 5px;
    overflow: hidden;
}